.homeHeader {
  position: relative;
  background: var(--color-black);
  height: 100vh;
}

.rentalsHeader {
  position: relative;
  background-image: url('../../public/images/rentals-page-hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
