.homeHeader,
.rentalsHeader,
.labsHeader {
  position: relative;
  height: 100vh;
}

.homeHeader {
  background: var(--color-black);
}

.rentalsHeader,
.labsHeader {
  margin-bottom: 16rem;
}

.singlePostHeader {
  height: 25vh;
}
