.homeHeader,
.rentalsHeader {
  position: relative;
  height: 100vh;
}

.homeHeader {
  background: var(--color-black);
}

.rentalsHeader {
  background-image: url('../../public/images/msg-test-pattern.webp');
  background-size: cover;
  background-position: center;
}
