.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
}

.container h1,
.container p {
  text-align: center;
  font-weight: 300;
  text-shadow: 1px 1px 0 var(--color-black);
}

.container h1 {
  font-size: clamp(var(--large), 10vw + 1rem, var(--titleLarge));
}

.container p {
  width: 80%;
  max-width: 550px;
  margin: auto;
  font-size: var(--small);
}

@media (min-width: 768px) {
  .container p {
    font-size: var(--medium);
  }
}
