.desktopNav {
  display: none;
  font-size: var(--small);
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 1rem 2rem;
    gap: 3rem;
  }
}
