.work {
  padding-top: 6rem;
}

@media (min-width: 768px) {
  .work {
    padding-top: 9rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .projects {
    margin: auto;
    max-width: 1440px;
  }
}

.projectContainer {
  position: relative;
}

@media (min-width: 768px) {
  .projectContainer {
    cursor: pointer;
  }
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

.projectContainer .projectOverlay {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--color-white);
  background-color: var(--color-faded-black);
}

.projectContainer .projectOverlay h3 {
  text-align: end;
  padding: 0.75rem 0.75rem 0.5rem;
}

@media (min-width: 768px) {
  .projectContainer .projectOverlay h3 {
    padding: 1rem 1rem 0.66rem;
  }
}
