.about {
  margin: auto;
  padding: 6rem 0;
  width: 95%;
  max-width: 60rem;
}

@media (min-width: 768px) {
  .about {
    padding: 8rem 0;
  }
}

.about p {
  margin-bottom: 1rem;
  font-size: var(--extraSmall);
  text-align: center;
  color: var(--color-grey);
}

@media (min-width: 768px) {
  .about p {
    font-size: var(--small);
  }
}

.about span {
  text-transform: uppercase;
}

.about .email {
  color: var(--color-white);
}

.contactInfo {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem 0 4rem;
}

@media (min-width: 768px) {
  .contactInfo {
    gap: 4rem;
  }
}

.contactInfo svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-white);
  transition: var(--transition-normal);
}

@media (min-width: 768px) {
  .contactInfo svg {
    width: 2rem;
    height: 2rem;
  }
}

.contactInfo svg:hover {
  fill: var(--color-red);
  transform: translateY(-2px);
}
