/* TODO: Can this be styled without the [open] attribute? */

.ProjectModal[open] {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--color-white);
  background-color: var(--color-black);
  margin: auto;
  padding: 5rem 3rem;
  border: 2px solid var(--color-white);
  width: 100%;
  max-width: 750px;
  overflow: auto;
  outline: none;
}

@media (min-width: 768px) {
  .ProjectModal[open] {
    padding: 6rem 4rem;
  }
}

.ProjectModal::backdrop {
  background-color: #000000cc;
  backdrop-filter: saturate(180%) blur(5px);
}

.ProjectModal img {
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
}

.close {
  position: absolute;
  top: 9px;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.close .top,
.close .bottom {
  background: var(--color-white);
  height: 5px;
  width: 1.8rem;
  border-radius: 1px;
}

.close .top {
  transform: translateY(2.5px) rotate(45deg);
}

.close .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}

.navigateLeft,
.navigateRight {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.navigateLeft {
  left: 1%;
}

@media (min-width: 768px) {
  .navigateLeft {
    left: 2%;
  }
}

.navigateRight {
  right: 1%;
}

@media (min-width: 768px) {
  .navigateRight {
    right: 2%;
  }
}

.navigateLeft.hide,
.navigateRight.hide {
  display: none;
}

.navigateLeft svg,
.navigateRight svg {
  fill: var(--color-white);
}

.navigateRight svg {
  transform: rotate(180deg);
}

.modalInfo {
  height: 8rem;
}

.modalInfo h3 {
  text-align: left;
  margin-bottom: 1rem;
  padding: 0;
}

.modalInfo p {
  font-size: var(--extraSmall);
  color: var(--color-grey);
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .modalInfo p {
    font-size: var(--small);
  }
}

.modalInfo .modalLabel {
  color: var(--color-white);
}

.modalDate {
  padding-bottom: 3rem;
}
