.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  width: 95%;
  max-width: 1440px;
  margin: 0 auto 16rem;
}

@media (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}
