.cta {
  display: flex;
  width: fit-content;
  margin: 0.5rem auto 2rem;
  padding: 1rem 2rem 1.4rem;
  font-size: var(--small);
  color: var(--color-white);
  background: var(--color-red-gradient);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
}

.cta:hover {
  transform: translateY(-2px);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .cta {
    font-size: var(--medium);
  }
}

/* 
  Line-height is different on Firefox
  Padding is set visually to match Chrome and Safari
*/
@-moz-document url-prefix() {
  .cta {
    padding: 1rem 2rem;
  }
}
