.postNavigation {
  margin: 2rem auto;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .postNavigation {
    margin: 3rem auto;
  }
}

.previous,
.next {
  position: absolute;
  display: flex;
  align-items: center;
  width: 45%;
  max-width: 250px;
  height: auto;
  padding: 0.75rem;
  border: 2px solid var(--color-grey);
  border-radius: 5px;
  transition: var(--transition-normal);
  cursor: pointer;
}

@media (min-width: 768px) {
  .previous,
  .next {
    padding: 1.25rem;
  }
}

.previous:hover,
.next:hover {
  border: 2px solid var(--color-white);
}

/* 
  TODO: Could this be done with margin-left/right: auto?
  .postNavigation was not "width: 100%" before
  It's possibile that is why the styling was broken.
*/
.previous {
  left: 0;
}

.next {
  right: 0;
}

.previous svg,
.next svg {
  fill: var(--color-grey);
}

.previous p,
.next p {
  width: 100%;
  font-size: clamp(var(--extraSmall), 2vw, var(--small));
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: var(--transition-normal);
}

.previous p {
  padding-left: 0.5rem;
}

.next p {
  padding-right: 0.5rem;
}

.previous:hover svg,
.previous:hover p,
.next:hover svg,
.next:hover p {
  color: var(--color-white);
  fill: var(--color-white);
}
