---
import { Picture } from 'astro:assets'
import serverBack from '../../assets/server-back.webp'
import serverFront from '../../assets/server-front.webp'
---

<div class="pricing">
  <div class="server-images">
    <Picture src={serverBack} alt="Back display of the Supervoid 2RU Fly Rack Kit" />
    <Picture src={serverFront} alt="Front display of the Supervoid 2RU Fly Rack Kit" />
  </div>
  <p>
    our 2RU Fly Rack Kits contain everything you need to run your show. rentals start as low as
    $500/week, with 24/7 tech support and SUPERVOID exclusive VJ loops and visual content included
    in every rental.
  </p>
</div>

<style>
  .pricing {
    width: 100%;
    max-width: var(--max-width-md);
    margin: 0 auto;

    & .server-images {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;

      @media (min-width: 768px) {
        & {
          grid-template-columns: repeat(2, 1fr);
          gap: 3rem;
        }
      }
    }

    & p {
      max-width: 792px;
      margin: auto;
      padding: 1rem 0;
      font-size: var(--size-sm);
      text-transform: none;
      text-align: center;

      &::before {
        content: '';
        display: block;
        width: 25%;
        max-width: 400px;
        height: 1px;
        margin: 2rem auto;
        background-color: var(--color-grey);
      }
    }
  }
</style>
