.desktopNav {
  display: none;
  font-size: var(--medium);
}

@media (min-width: 768px) {
  .desktopNav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 0;
    gap: 3rem;
  }
}

.desktopNav a {
  transition: var(--transition-normal);
}

@media (min-width: 768px) {
  .desktopNav a:hover {
    color: var(--color-red);
  }
}
