.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;
  background: transparent;
  transition: var(--transition-normal);
}

.navigation.show {
  background: var(--color-black);
}

.navigation .logo {
  width: 8rem;
  max-width: 100%;
  height: auto;
  padding: 0 1rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navigation .logo {
    width: 10rem;
  }
}
