.hamburger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  background: var(--color-black);
  cursor: pointer;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger .top {
  transform: translateY(-2.5px);
}

.hamburger .bottom {
  transform: translateY(2.5px);
}

.hamburger .top,
.hamburger .bottom {
  height: 5px;
  width: 1.8rem;
  background: var(--color-white);
  border-radius: 1px;
  transition: var(--transition-normal);
}

.hamburger.active .top {
  transform: translateY(2.5px) rotate(45deg);
}

.hamburger.active .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}
