.info {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.title {
  margin: auto;
  width: 95%;
  max-width: 48rem;
}

.title img {
  display: block;
  max-width: 100%;
  height: auto;
}

.info p {
  margin: auto;
  width: 95%;
  font-size: var(--small);
  text-shadow: 1px 1px 0 var(--color-black);
  color: var(--color-white);
}

@media (min-width: 768px) {
  .info p {
    font-size: var(--medium);
  }
}
