---
import { Picture } from 'astro:assets'
import homePageHeroImage from '../assets/home-page-hero.webp'
import titleImage from '../assets/supervoid-title.webp'
import Work from '../components/Work.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Animation, VFX, and Technical Design Studio">
  <header>
    <div class="header-info">
      <Picture src={titleImage} formats={['avif', 'webp']} alt="Supervoid" loading="eager" />
      <p>Psychedelic Dreams for Stage + Screen</p>
    </div>
    <Picture class="hero-image" src={homePageHeroImage} loading="eager" alt="Supervoid explosion" />
  </header>
  <main>
    <Work />
  </main>
</Layout>

<style>
  header {
    position: relative;
    height: 100vh;
    background: var(--color-black);

    .header-info {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      width: 95%;
      max-width: 48rem;
      text-align: center;

      p {
        margin: auto;
        width: 95%;
        font-size: var(--size-sm);
        text-shadow: 1px 1px 0 var(--color-black);
        color: var(--color-white);

        @media (min-width: 768px) {
          font-size: var(--size-md);
        }
      }
    }

    .hero-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 40rem;
      filter: brightness(0.5);
      border-radius: 20%;
    }
  }
</style>
