---
import { Icon } from 'astro-icon/components'
---

<section id="about" class="about site-section">
  <h2>About</h2>
  <p>
    <span>SUPERVOID</span> is an Animation, VFX and Technical Design studio based in Philadelphia. Our
    primary output is creating dynamic and interactive media packages for artists, agencies and brands.
  </p>
  <p class="email">info@supervoid.tv</p>
  <div class="social-icons">
    <a
      href="https://www.instagram.com/supervoidtv/"
      target="_blank"
      rel="noreferrer"
      aria-label="Instagram"
    >
      <Icon name="instagram" />
    </a>
    <a
      href="https://www.facebook.com/supervoidtv"
      target="_blank"
      rel="noreferrer"
      aria-label="Facebook"
    >
      <Icon name="facebook" />
      <a href="mailto:info@supervoid.tv" target="_blank" rel="noreferrer" aria-label="Email">
        <Icon name="mail" />
      </a>
    </a>
  </div>
</section>

<style>
  .about {
    max-width: 60rem;

    & p {
      margin-bottom: 1rem;
      text-align: center;
      color: var(--color-grey);
    }

    & span {
      text-transform: uppercase;
    }

    & .email {
      color: var(--color-white);
    }
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin: 1.5rem 0 4rem;

    @media (min-width: 768px) {
      & {
        gap: 4rem;
      }
    }

    & [data-icon] {
      width: 1.5rem;
      height: 1.5rem;
      color: var(--color-white);
      transition: var(--transition-normal);
    }

    @media (min-width: 768px) {
      & [data-icon] {
        width: 2rem;
        height: 2rem;
      }
    }

    & [data-icon]:hover {
      color: var(--color-red);
      transform: translateY(-2px);
    }
  }
</style>
