.svg {
  transition: var(--transition-normal);
}

.svg[data-direction='top'] {
  transform: rotate(90deg);
}

.svg[data-direction='bottom'] {
  transform: rotate(-90deg);
}

.svg[data-direction='left'] {
  transform: rotate(0);
}

.svg[data-direction='right'] {
  transform: rotate(180deg);
}
