.projectModal {
  position: fixed;
  display: flex;
  z-index: -1;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-faded-black);
  transition: all 0.4s ease;
}

.projectModal.active {
  z-index: 100;
  display: flex;
  opacity: 1;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: var(--color-white);
  background-color: var(--color-black);
  margin: auto;
  padding: 2rem 3rem 5rem;
  border: 2px solid var(--color-white);
  width: 100%;
  max-width: 750px;
  overflow: auto;
}

@media (min-width: 768px) {
  .modalContent {
    padding: 3rem 4rem 6rem;
  }
}

.close {
  position: absolute;
  top: 9px;
  right: 0;
  padding: 1rem;
  cursor: pointer;
}

.close .top,
.close .bottom {
  background: var(--color-white);
  height: 5px;
  width: 1.8rem;
  border-radius: 1px;
}

.close .top {
  transform: translateY(2.5px) rotate(45deg);
}

.close .bottom {
  transform: translateY(-2.5px) rotate(-45deg);
}

.navigateLeft,
.navigateRight {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.navigateLeft {
  left: 1%;
}

@media (min-width: 768px) {
  .navigateLeft {
    left: 2%;
  }
}

.navigateRight {
  right: 1%;
}

@media (min-width: 768px) {
  .navigateRight {
    right: 2%;
  }
}

.navigateLeft.hide,
.navigateRight.hide {
  display: none;
}

.navigateLeft svg,
.navigateRight svg {
  fill: var(--color-white);
}

.navigateRight svg {
  transform: rotate(180deg);
}

.image {
  object-fit: contain;
  position: relative !important;
  height: unset !important;
  user-select: none;
}

.modalContent span {
  padding: 0 !important;
}

.modalInfo {
  height: 8rem;
}

.modalInfo h3 {
  text-align: left;
  margin-bottom: 1rem;
  padding: 0;
}

.modalInfo p {
  font-size: var(--extraSmall);
  color: var(--color-grey);
  margin-bottom: 0.75rem;
}

@media (min-width: 768px) {
  .modalInfo p {
    font-size: var(--small);
  }
}

.modalInfo .modalLabel {
  color: var(--color-white);
}

.modalDate {
  padding-bottom: 3rem;
}
