.work {
  padding-top: 6rem;
}

@media (min-width: 768px) {
  .work {
    padding-top: 9rem;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .projects {
    margin: auto;
    max-width: 1440px;
  }
}
