@font-face {
  font-family: 'brightfate';
  src: url('../public/fonts/Brightfate.otf');
}

:root {
  --color-black: #000100;
  --color-white: #f2f2f2;
  --color-grey: #9b9b9b;
  --color-purple: #3700b3;
  --color-red: #920104;
  --color-green: #03dac5;
  --color-faded-black: #000000cc;
  --color-faded-purple: #3600b384;
  --color-dark-purple: #330737;
  --color-red-gradient: linear-gradient(
    135deg,
    var(--color-red) 20%,
    var(--color-dark-purple) 100%
  );

  --font-plex-sans: 'IBM Plex Sans KR', sans-serif;
  --font-supervoid: 'brightfate', sans-serif;

  --extraSmall: 1rem;
  --small: 1.5rem;
  --medium: 1.8rem;
  --large: 2.25rem;
  --extraLarge: 3.5rem;
  --titleLarge: 5.5rem;

  --transition-normal: all 0.25s ease-in-out;
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow: auto;
}

html {
  scroll-behavior: smooth;
  line-height: normal;
}

body {
  font-family: var(--font-plex-sans);
  background: var(--color-black);
  color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-supervoid);
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: var(--large);
  text-align: center;
  line-height: normal;
  padding: 2rem;
}

h3 {
  font-size: var(--small);
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: var(--extraLarge);
  }

  h3 {
    font-size: var(--medium);
  }
}

p,
li,
a,
button {
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-transform: lowercase;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}

.swiper {
  width: 100%;
  margin: 0 auto 4rem;
  border-radius: 1%;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
}

.swiper-slide img {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 1%;
  cursor: grab;
}

.swiper .swiper-pagination-bullet {
  background: var(--color-grey);
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-white);
  opacity: 1;
}
