:root {
  --color-black: #000100;
  --color-white: #f2f2f2;
  --color-grey: #9b9b9b;
  --color-purple: #3700b3;
  --color-red: #920104;
  --color-green: #03dac5;
  --color-faded-black: #000000cc;
  --color-faded-purple: #3600b357;
  --color-dark-purple: #330737;
  --color-red-gradient: linear-gradient(
    135deg,
    var(--color-red) 20%,
    var(--color-dark-purple) 100%
  );

  --extraSmall: 1rem;
  --small: 1.4rem;
  --medium: 1.8rem;
  --large: 2.25rem;
  --extraLarge: 3.5rem;
  --titleLarge: 5.5rem;

  --transition-normal: all 0.25s ease-in-out;
  --transition-long: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  color: inherit;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  line-height: normal;
}

body {
  font-family: var(--font-supervoid-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-black);
  color: var(--color-white);
  overflow-x: auto;
  overflow-y: auto;

  /* Experimental, but fallback is default styling */
  text-wrap: balance;
}

body.mobile-nav-overlay-active,
body.project-overlay-active {
  overflow-x: hidden;
  overflow-y: hidden;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: var(--large);
  text-align: center;
  padding: 2rem;
}

h3 {
  font-size: var(--small);
  text-align: center;
}

@media (min-width: 768px) {
  h2 {
    font-size: var(--extraLarge);
  }

  h3 {
    font-size: var(--medium);
  }
}

p,
li,
a,
button,
figcaption {
  font-family: inherit;
  text-transform: lowercase;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

img {
  max-width: 100%;
  height: auto;
}

/**
  * Fix light grey border on Safari when images are loading
  * see https://nextjs.org/docs/pages/api-reference/components/image#known-browser-bugs 
  */
@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-white);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-white);
}

.swiper {
  width: 100%;
  margin: 0 auto 4rem;
  border-radius: 1%;
}

[data-pathname='servers'] .swiper-wrapper {
  margin-bottom: 3rem;
}

.swiper-slide img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  border-radius: 1%;
  cursor: grab;
}

.swiper .swiper-pagination-bullet {
  background: var(--color-grey);
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--color-white);
  opacity: 1;
}
