.about {
  margin: auto;
  padding: 6rem 0;
  width: 95%;
  max-width: 80rem;
}

@media (min-width: 768px) {
  .about {
    padding: 8rem 0;
  }
}

.about p {
  margin: auto;
  margin-bottom: 1rem;
  font-size: var(--extraSmall);
  text-align: center;
  color: var(--color-grey);
}

@media (min-width: 768px) {
  .about p {
    font-size: var(--small);
  }
}

.about span {
  text-transform: uppercase;
}

.about .email {
  margin: 0;
  color: var(--color-white);
}

.contactInfo {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 1.5rem 0 4rem;
}

@media (min-width: 768px) {
  .contactInfo {
    gap: 4rem;
  }
}

.contactInfo svg {
  width: 1.5rem;
  fill: var(--color-white);
}

@media (min-width: 768px) {
  .contactInfo svg {
    width: 2rem;
    transition: var(--transition-normal);
  }
}

@media (min-width: 768px) {
  .contactInfo svg:hover {
    fill: var(--color-red);
    transform: translateY(-2px);
  }
}

.swiper {
  width: 100%;
  margin: 0 auto 4rem;
  border-radius: 1%;
}

@media (min-width: 768px) {
  .swiper {
    display: none;
  }
}

.swiperSlide {
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
  border-radius: 1%;
  cursor: grab;
}

.swiper .swiperPaginationBullet {
  background: var(--color-grey);
  opacity: 0.5;
}

.swiper .swiperPaginationBullet.swiperPaginationBulletActive {
  background: var(--color-white);
  opacity: 1;
}

.swiper p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: var(--extraSmall);
  color: var(--color-white);
}

.aboutImagesContainer {
  display: none;
}

@media (min-width: 768px) {
  .aboutImagesContainer {
    display: block;
    margin: 0 auto 4rem;
  }
}

@media (min-width: 768px) {
  .aboutImages {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

.aboutImages img {
  margin: auto;
  min-width: 100%;
  height: auto;
  width: 100%;
  border-radius: 1%;
}

@media (min-width: 768px) {
  .aboutImagesContainer p {
    margin-top: 0.5rem;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: var(--extraSmall);
    color: var(--color-white);
  }
}

.aboutServices {
  text-align: center;
}

.aboutServices h3 {
  text-decoration: underline;
}

.aboutServices ul {
  padding: 0;
}

.aboutServices li {
  font-size: var(--extraSmall);
  color: var(--color-grey);
}
