.post {
  width: 95%;
  max-width: 1000px;
  margin: 0 auto 16rem;
}

@media (min-width: 768px) {
  .post {
    width: 85%;
  }
}

.post p {
  color: var(--color-grey);
}

.postHeader {
  margin-bottom: 2rem;
}

.postHeader h2 {
  padding: 0;
}

.postHeader p {
  text-align: center;
  font-size: var(--extraSmall);
}

.imageContainer {
  position: relative;
  height: 60vh;
  margin-bottom: 2rem;
}

.image {
  object-fit: cover;
  border-radius: 1%;
}

.postBody p {
  margin-bottom: 1rem;
  font-size: var(--extraSmall);
}

@media (min-width: 768px) {
  .postBody p {
    font-size: var(--small);
  }
}

.postBody:before {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  margin-bottom: 1.6rem;
  background-color: var(--color-grey);
}
