.post {
  width: 95%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 16rem;
}

@media (min-width: 768px) {
  .post {
    width: 85%;
  }
}

.post p {
  font-size: var(--extraSmall);
  margin-bottom: 1rem;
  color: var(--color-grey);
}

@media (min-width: 768px) {
  .post p {
    font-size: var(--small);
  }
}

.header {
  margin-bottom: 1rem;
}

.header h2 {
  padding: 0;
}

.header p {
  text-align: center;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 1%;
  margin-bottom: 2rem;
}
